
<article class="card col-4 border-dark">
  <div class="card-body">
    <h2 class="card-header bg-success border-dark">{{whiskey_name}}</h2>
    <p class="card-text">Price: ${{price}}</p>
    <p class="card-text">Posted on {{created_at}}</p>
    <p>by: {{user.username}}</p>
  </div>
</article>
