<article class=class="card" style="width: 12rem">
  <div class="card-body">
    <h2 class="card-title">{{whiskey_name}}</h2>
    <p class="card-text">{{price}}</p>
    <p class="card-text">{{created_at}}</p>
  </div>
</article>