<article class="whiskey">
  <div class="flavor">
    <h2>{{whiskey_name}}</h2>
    <p>{{price}}</p>
  </div>
</article>

{{!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{#each whiskeys as |whiskey|}}</h5>
    <p class="card-text">{{>whiskey-info whiskey}}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Warning card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div> --}}