
<section class="card border-dark h-100">
  <div class="card-body">
    <h2 class="card-header bg-success border-dark">{{whiskey_name}}</h2>
    <p class="card-text">Price: ${{price}}</p>
    <p class="card-text">Posted on {{format_date created_at}}</p>
    <p>by: {{user.username}}</p>
  </div>
</section>
