<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Whisk(e)y Barrel</title> 
    {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
  </head>

  <body>
    <div class="wrapper">
      <header class="hero">
        <nav>
          <a href="/">Home</a>
          <a href="/dash">Dash View</a>
          <a href="/login">Log On to View</a>
          <a href="/logout" id="logout">Log Off</a>
        </nav>
        <h1 class="app-title">
          <a href="/">The Whisk(e)y Barrel</a>
        </h1>
        {{#if loggedIn}}
        <div>
          <a href="/dash">Hello, {{username}}</a>
        </div>
        {{/if}}
      </header>
      <main>
        {{{ body }}}
      </main>
    </div>
    <script src="/javascript/logout.js"></script>
  </body>
</html>