<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Whisk(e)y Barrel</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
    integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <div class="card text-center">
    <nav class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        {{#if loggedIn}}
        <li class="nav-item">
          <a class="nav-link" href="/dash">Dash View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="logout" href="/logout">Log Off</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In to View</a>
        </li>
        {{/if}}
      </ul>
    </nav>
    <div class="card-body">
      <a href="/">
        <h1 class="card-title">The Whisk(e)y Barrel</h1>
      </a>
      <h2 class="card-text">Uisge Beatha > Aqua Vitae > Whiskey = Water of Life</h2>
      <a href="/users" class="btn btn-primary">See Who is Here</a>
    </div>
    <main>
      <div class="container">
      {{{body}}}
      </div>
    </main>
  </div>

  {{#if loggedIn}}
  <section>
    <button type="submit" class="btn btn-secondary">Add New Bottle</button>
  </section>
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>