{{!-- <ul class="whiskey-list">
  {{#each whiskeys as |whiskey|}}
  <li>
    {{>whiskey-info whiskey}}
  </li>
  {{/each}}
</ul> --}}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{#each whiskeys as |whiskey|}}</h5>
    <p class="card-text">{{>whiskey-info whiskey}}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>