<ul class="whiskey-list">
  {{#each whiskeys as |whiskey|}}
  <li>
    <article class="whiskey">
      <div class="name">
        <h2>{{whiskeys.whiskey_name}}</h2>
      </div>
  </li>
  {{/each}}
</ul>