* {
  font-family: 'Work Sans', sans-serif;
}

body, html {
  height: 100%;
}

ul {
  list-style: none;
}

ul li {
  padding: 5px;
  flex-basis: 25%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.2rem;
}

.bg {
  background-image: url("/assets/images/single_barrel.jpg");
  background-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.new-btl {
  border: solid 2px;
  width: 40%;
  text-align: left;
  padding: 10px 5px;
}

.login-form,
.signUp-form,
.new-btl-form {
  padding: 15px;
}

#bottle {
  background-color: rgba(112, 87, 22, 0.6);
  color: #ffff;
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
}