* {
  font-family: 'Work Sans', sans-serif;
}
ul {
  list-style: none;
}

ul li {
  padding: 5px;
  flex-basis: 25%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.new-btl {
  border: solid 2px;
  width: 40%;
  text-align: left;
  padding: 10px 5px;
}

.login-form,
.signUp-form,
.new-btl-form {
  padding: 15px;
}

#bottle {
  background-color: rgb(112, 87, 22);
  color: #ffff;
}